# =========================
# Build files (C++)
# =========================
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.dll

# =========================
# Raylib build (optional)
# =========================
*.log

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Windows system files
# =========================
Thumbs.db
desktop.ini

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# High score
# =========================
*.txt